body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #3399ff; 
  font-family: Andika, sans-serif;
  /* Blue background color for the entire page */
}
body, h2, h4, p, input, select, button {
  font-family: 'Andika', sans-serif;
}
.profile-setup-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Position the container above the circles */
  background-color: #fff;
  border-radius: 8px;
  padding: 80px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 700px;
}

.profile-setup-container h2 {
  color: #007BFF; /* Blue color for the title */
}

.form-group {
  margin: 20px 0;
}

input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
  font-family: Andika, sans-serif;
}

input:focus {
  border-color: #007BFF;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
  font-weight: bold;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

  .custom-dropdown {
    position: relative;
    width: 100%;
}
