.container {
  position: relative;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  padding: 80px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: Andika;
}

.icons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex; /* Make the icons display as flex items */
  flex-direction: row; /* Arrange them horizontally */
  z-index: 1;
}

.remove,
.approve {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px; /* Add margin to separate them */
}

.remove {
  color: red;
}

.approve {
  color: green;
}


/* Style the circular "View Profile" button */
.view-profile-button {
  position: absolute;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  right: 10px;
  font-family: Andika; 
}

/* Button hover effect */
.view-profile-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}